.categories {
  width: 100%;
  height: auto;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 15px;

  .category {
    height: auto;
    min-height: 240px;
    display: grid;
    align-items: center;
    justify-content: center;
    border: 1px solid #272727;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    &:hover {
      .category-bg {
        transform: scale(1.1);
        filter: brightness(1.2);
      }

      .category-body {
        opacity: 1;
      }
    }

    &--small {
      grid-column: span 4;
    }

    &--medium {
      min-height: 380px;
      grid-column: span 6;
    }

    &-body {
      height: auto;
      min-height: 90px;
      padding: 15px 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      border: 1px solid black;
      background-color: white;
      opacity: 0.8;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      transition: all 0.3s ease-in-out;
      z-index: 5;
    }

    &-title {
      font-size: 22px;
      line-height: 22px;
      font-weight: 700;
      color: #4a4a4a;
      margin: 0;
    }

    &-text {
      font-size: 16px;
      line-height: 16px;
      font-weight: 300;
      color: #4a4a4a;
      margin: 0;
    }

    &-bg {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      transition: all 0.3s ease-in-out;
    }
  }
}
