.header {
  width: 100%;
  height: auto;

  .header {
    &-container {
      width: 100%;
      height: auto;
      min-height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 25px;
    }

    &-logo {
      width: 100%;
      max-width: 70px;
      height: auto;
      padding: 10px;

      img {
        width: 100%;
        height: auto;
      }
    }

    &-title {
      display: none;
    }

    &-nav {
      width: 50%;
      height: auto;
    }

    &-menu {
      width: 100%;
      height: auto;
      min-height: 70px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      grid-gap: 10px;

      &-item {
        &-link {
          padding: 10px 15px;
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
  }
}
