.signIn {
  width: 100%;
  max-width: 380px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column;
  text-align: left;

  .signIn {
    &-input {
      background: none;
      background-color: white;
      color: $sub-color;
      font-size: 18px;
      padding: 10px 10px 10px 5px;
      display: block;
      width: 100%;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $sub-color;
      margin: 0;

      &:focus {
        outline: none;
      }

      &:focus ~ .signIn-label {
        @include shrinkLabel();
      }

      &input[type='password'] {
        letter-spacing: 0.3em;
      }

      &-group {
        width: 100%;
        position: relative;
        margin: 15px 0;
      }
    }

    &-label {
      color: $sub-color;
      font-size: 16px;
      font-weight: normal;
      pointer-events: none;
      left: 5px;
      top: 10px;
      margin: 0;
      transition: 0.3s all ease-in-out;
      position: absolute;

      &--shrink {
        @include shrinkLabel();
      }
    }

    &-buttons {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      grid-gap: 0 5px;
    }
  }
}
