@import './variables';
@import './mixinx';

@import './modules/categories';
@import './modules/header';
@import './modules/signUp';
@import './modules/signIn';
@import './modules/button';
@import './modules/authentication';
@import './modules/productCard';
@import './modules/cartIcon';
@import './modules/cartDropdown';
@import './modules/cartItem';
@import './modules/checkout';
@import './modules/checkoutItem';

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  max-width: 1360px;
}

a {
  text-decoration: none;
  color: #575757;
  transition: all 0.3s ease-in-out;

  &:hover {
    text-decoration: none;
    color: #272727;
  }
}
